* text=auto !eol
._install/__init__.bat -text
._install/_install.detect_3dparty.notepadpp.bat -text
.github/FUNDING.yml -text
/README.md -text
/README_EN.txt -text
__init__/__init__.bat -text
_config/config.0.vars.in -text
_config/config.system.vars.in -text
/_install.bat -text
apps/notepad++/npp.7.9.2.Installer.exe -text
apps/notepad++/plugins/PythonScript/PythonScript_1.5.4.0.msi -text
apps/vcredist/2008/vcredist_x86.exe -text
apps/winmerge/WinMerge-2.16.8-Setup.exe -text
/changelog.txt -text
deploy/notepad++/plugins/PythonScript/Config/PythonScriptStartup.cnf -text
/license.txt -text
tools/gen_system_config.bat -text
tools/load_config.bat -text
