* text=auto !eol
._install/__init__.bat -text
._install/_install.detect_3dparty.notepadpp.bat -text
._install/_install.update.terminal_params.bat -text
.github/FUNDING.yml -text
.github/res/Release.md.in -text
/README.md -text
/README_EN.txt -text
/TODO.txt -text
__init__/__init__.bat -text
__init__/canonical_path.bat -text
__init__/declare_builtins.bat -text
_config/config.0.vars.in -text
_config/config.system.vars.in -text
/_install.bat -text
apps/notepad++/npp.7.9.2.Installer.exe -text
apps/notepad++/plugins/PythonScript/PythonScript_1.5.4.0.msi -text
apps/vcredist/2008/vcredist_x86.exe -text
apps/winmerge/WinMerge-2.16.8-Setup.exe -text
/changelog.txt -text
deploy/libcurl/libcrypto-1_1.dll -text
deploy/libcurl/libcurl.dll -text
deploy/libcurl/libssl-1_1.dll -text
deploy/libcurl/normaliz.dll -text
/license.txt -text
res/images/notepad++-16x16.png -text
res/images/notepad++.ico -text
res/images/winmerge-16x16.png -text
res/images/winmerge.ico -text
tools/gen_system_config.bat -text
tools/load_config_dir.bat -text
